$white: #ffffff;
$white-80: #ffffffcc;

$silver-chalice: #a6a6a6;
$mercury: #e2e2e2;
$silver: #c4c4c4;

$gondola: #353535;
$black: #000000;
$black-50: #38383880;
$night-rider: #313131;

$international-orange: #ff4e00;
$orange-gradient: radial-gradient(
  78.17% 109.67% at 8.47% 6.34%,
  #ffc24d 12.03%,
  #f26a07 88.05%
);
$cinderella: #fde8df;

body {
  font-family: "Mulish", sans-serif;
}

#post-container {
  background-color: $white;
  color: $night-rider;
  padding-bottom: 70px;

  .content-container {
    .carousel-container {
      $absolute-bottom: 25px;
      $absolute-right: 15px;
      $absolute-left: 15px;

      .bottom-white-radius {
        left: 0;
        bottom: -5px;
        background-color: #fff;
        width: 100%;
        height: 16px;
        border-radius: 16px 16px 0 0;
      }

      #post-vr-tour {
        aspect-ratio: 428/249;
      }

      #post-carousel {
        img[data-fancybox="images-2d"] {
          aspect-ratio: 428/249;
        }
      }

      .share-container {
        right: $absolute-right;
        top: 30px;

        img {
          $image-width: 15px;

          width: $image-width;
          height: $image-width;

          margin-left: 16px;
        }
      }

      .carousel-index {
        left: $absolute-right;
        border-radius: 20px;
        bottom: $absolute-bottom;
        color: $white;
        background: $black-50;
      }

      .notification-container {
        left: $absolute-right;
        border-radius: 10px;
        bottom: $absolute-bottom;
        background: $white-80;
        display: flex;
        align-items: center;

        font-size: 10px;

        img {
          margin-right: 5px;
          width: 15px;
          height: 15px;
        }
      }

      .vr-2d-container {
        bottom: $absolute-bottom;
        right: $absolute-right;
        background: $white-80;
        border-radius: 20px;

        .btn-switch {
          text-align: center;
        }

        .active {
          color: $white;
          background: $orange-gradient;
          border-radius: 20px;
          pointer-events: none;
        }
      }

      .new-vr-icon {
        top: calc(50% - 40px);
        left: calc(50% - 20px);
        img {
          width: 60px;
        }
      }
    }

    .address-container {
      img {
        width: 11px;
      }

      address {
        font-size: 12px;
        line-height: 14px;
        margin-left: 0.5rem;
      }
    }

    .tags-container {
      flex-wrap: wrap;
      color: $international-orange;

      .tag {
        background: $cinderella;
        padding: 4px 10px;
        margin-right: 6px;
        border-radius: 6px;
        margin-bottom: 5px;
      }
    }

    .id-post {
      background-color: $mercury;
      color: $black;
      border-radius: 10px;
      padding: 3px 0;
    }

    .apartment-overview-detail {
      .col-3 {
        text-align: center;
        h4 {
          font-size: 10px;
          line-height: 12px;
          margin-bottom: 0.25rem;
          font-weight: 600;
        }
      }

      .border-left {
        border-left: 0, 7px solid $silver;
      }
    }

    .make-an-appointment-see-house-vr {
      background-color: $cinderella;
      padding: 9px 7px;
      border-radius: 8px;

      img {
        width: 22px;
        margin-bottom: -0.25rem;
      }

      & > div {
        max-width: 60%;
      }
    }

    #loanChart {
      aspect-ratio: 1;

      .donut {
        --donut-size: 300px;
        --donut-border-width: 40px;
        --donut-spacing: 0;
        --donut-spacing-color: 255, 255, 255;
        --donut-spacing-deg: calc(1deg * var(--donut-spacing));
        border-radius: 50%;
        height: var(--donut-size);
        margin: 40px;
        position: relative;
        width: var(--donut-size);
      }

      .donut__label {
        left: 50%;
        line-height: 1.5;
        position: absolute;
        text-align: center;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80%;
      }

      .donut__label__heading {
        font-size: 24px;
        font-weight: 600;
      }

      .donut__label__sub {
        color: #666666;
        font-size: 14px;
        letter-spacing: 0.05em;
      }

      .donut__slice {
        height: 100%;
        position: absolute;
        width: 100%;
      }

      .donut__slice::before,
      .donut__slice::after {
        border: var(--donut-border-width) solid rgba(0, 0, 0, 0);
        border-radius: 50%;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 100%;
      }

      .donut__slice::before {
        border-width: calc(var(--donut-border-width) + 1px);
        box-shadow: 0 0 1px 0
          rgba(var(--donut-spacing-color), calc(100 * var(--donut-spacing)));
      }

      .donut__slice__first {
        --first-start: 0;
      }

      .donut__slice__first::before {
        border-top-color: rgba(
          var(--donut-spacing-color),
          calc(100 * var(--donut-spacing))
        );
        -webkit-transform: rotate(calc(360deg * var(--first-start) + 45deg));
        transform: rotate(calc(360deg * var(--first-start) + 45deg));
      }

      .donut__slice__first::after {
        border-top-color: #ff6838;
        border-right-color: rgba(
          255,
          104,
          56,
          calc(100 * (var(--first) - 0.25))
        );
        border-bottom-color: rgba(
          255,
          104,
          56,
          calc(100 * (var(--first) - 0.5))
        );
        border-left-color: rgba(
          255,
          104,
          56,
          calc(100 * (var(--first) - 0.75))
        );
        -webkit-transform: rotate(
          calc(360deg * var(--first-start) + 45deg + var(--donut-spacing-deg))
        );
        transform: rotate(
          calc(360deg * var(--first-start) + 45deg + var(--donut-spacing-deg))
        );
      }

      .donut__slice__second {
        --second-start: calc(var(--first));
        --second-check: max(calc(var(--second-start) - 0.5), 0);
        -webkit-clip-path: inset(
          0 calc(50% * (var(--second-check) / var(--second-check))) 0 0
        );
        clip-path: inset(
          0 calc(50% * (var(--second-check) / var(--second-check))) 0 0
        );
      }

      .donut__slice__second::before {
        border-top-color: rgba(
          var(--donut-spacing-color),
          calc(100 * var(--donut-spacing))
        );
        -webkit-transform: rotate(calc(360deg * var(--second-start) + 45deg));
        transform: rotate(calc(360deg * var(--second-start) + 45deg));
      }

      .donut__slice__second::after {
        border-top-color: #ffc820;
        border-right-color: rgba(
          255,
          200,
          32,
          calc(100 * (var(--second) - 0.25))
        );
        border-bottom-color: rgba(
          255,
          200,
          32,
          calc(100 * (var(--second) - 0.5))
        );
        border-left-color: rgba(
          255,
          200,
          32,
          calc(100 * (var(--second) - 0.75))
        );
        -webkit-transform: rotate(
          calc(360deg * var(--second-start) + 45deg + var(--donut-spacing-deg))
        );
        transform: rotate(
          calc(360deg * var(--second-start) + 45deg + var(--donut-spacing-deg))
        );
      }

      .donut__slice__third {
        --third-start: calc(var(--first) + var(--second));
        --third-check: max(calc(var(--third-start) - 0.5), 0);
        -webkit-clip-path: inset(
          0 calc(50% * (var(--third-check) / var(--third-check))) 0 0
        );
        clip-path: inset(
          0 calc(50% * (var(--third-check) / var(--third-check))) 0 0
        );
      }

      .donut__slice__third::before {
        border-top-color: rgba(
          var(--donut-spacing-color),
          calc(100 * var(--donut-spacing))
        );
        -webkit-transform: rotate(calc(360deg * var(--third-start) + 45deg));
        transform: rotate(calc(360deg * var(--third-start) + 45deg));
      }

      .donut__slice__third::after {
        border-top-color: #97c95c;
        border-right-color: rgba(
          151,
          201,
          92,
          calc(100 * (var(--third) - 0.25))
        );
        border-bottom-color: rgba(
          151,
          201,
          92,
          calc(100 * (var(--third) - 0.5))
        );
        border-left-color: rgba(
          151,
          201,
          92,
          calc(100 * (var(--third) - 0.75))
        );
        -webkit-transform: rotate(
          calc(360deg * var(--third-start) + 45deg + var(--donut-spacing-deg))
        );
        transform: rotate(
          calc(360deg * var(--third-start) + 45deg + var(--donut-spacing-deg))
        );
      }
    }

    .detail-field {
      h4 {
        font-weight: 600;
        margin-right: 0.5rem;
      }
      h4,
      p {
        font-size: 13px;
        line-height: 20px;
      }
    }
  }

  .bottom-navigation {
    left: 0;
    bottom: 0;
    text-align: center;
    color: $silver-chalice;
    font-size: 8px;
    line-height: 10px;
    background-color: $white;
    padding: 0px 15px;

    img {
      opacity: 0;
    }

    svg {
      height: 19px;
      path {
        stroke: $silver-chalice;
      }
    }

    .active {
      color: $international-orange;
      svg {
        path {
          stroke: $international-orange;
        }
      }

      img {
        opacity: 1;
      }
    }
  }

  [data-btn-type="accept-permission"] {
    background-color: $international-orange;
    border-color: $international-orange;
  }

  .btn-outline {
    border: 1px solid $international-orange;
    color: $international-orange;
    background-color: $white;
    border-radius: 8px;
    padding: 5px 12px;
  }

  // font

  .bold {
    font-weight: 700;
  }

  // font-size

  .font-12-14 {
    font-size: 12px;
    line-height: 14px;
  }

  .font-13-15 {
    font-size: 13px;
    line-height: 15px;
  }

  .font-24-30 {
    font-size: 24px;
    line-height: 30px;
  }

  .font-20-24 {
    font-size: 20px;
    line-height: 24px;
  }

  .font-20-20 {
    font-size: 20px;
    line-height: 20px;
  }

  .font-18-20 {
    font-size: 18px;
    line-height: 20px;
  }

  .font-33-39 {
    font-size: 33px;
    line-height: 39px;
  }

  .font-15-36 {
    font-size: 15px;
    line-height: 36px;
  }

  .font-15-15 {
    font-size: 15px;
    line-height: 15px;
  }
  // color
  .color-silver-chalice {
    color: $silver-chalice;
  }

  .color-international-orange {
    color: $international-orange;
  }

  .color-gondola {
    color: $gondola;
  }

  .color-silver {
    color: $silver;
  }
}
