$white: #ffffff;
$white-80: #ffffffcc;

$silver-chalice: #a6a6a6;
$mercury: #e2e2e2;

$black: #000000;
$black-50: #38383880;

$international-orange: #ff4e00;
$orange-gradient: radial-gradient(
  78.17% 109.67% at 8.47% 6.34%,
  #ffc24d 12.03%,
  #f26a07 88.05%
);
$cinderella: #fde8df;

body {
  font-family: "Mulish", sans-serif;
}

#post-container {
  background-color: $white;

  .carousel-container {
    $absolute-bottom: 25px;
    $absolute-right: 3rem;

    .share-container {
      right: $absolute-right;
      top: 50px;

      img {
        $image-width: 35px;

        width: $image-width;
        height: $image-width;

        margin-left: 16px;
      }
    }

    .carousel-index {
      right: $absolute-right;
      padding: 3px 8px;
      border-radius: 20px;
      bottom: $absolute-bottom;
      color: $white;
      background: $black-50;
    }

    .vr-2d-container {
      bottom: $absolute-bottom;
      left: 50%;
      background: $white-80;
      border-radius: 20px;

      .btn-switch {
        text-align: center;
      }

      .active {
        color: $white;
        background: $orange-gradient;
        margin-left: -15px;
        border-radius: 20px;
      }
    }
  }

  .tags-container {
    flex-wrap: nowrap;
    color: $international-orange;

    .tag {
      padding: 8px 15px;
      background: $cinderella;
      margin-right: 6px;
      border-radius: 12px;
    }
  }

  .id-post {
    background-color: $mercury;
    color: $black;
    padding: 3px 13px;
  }

  .apartment-overview-detail {
    .col-3 {
      text-align: center;
    }
  }

  .make-an-appointment-see-house-vr {
    background-color: $cinderella;
  }

  .btn-outline {
    border: 1px solid $international-orange;
    color: $international-orange;
    background-color: $white;
  }

  .bold {
    font-weight: 700;
  }

  // font-size

  .font-12-14 {
    font-size: 12px;
    line-height: 14px;
  }

  .font-24-30 {
    font-size: 24px;
    line-height: 30px;
  }

  .font-20-24 {
    font-size: 20px;
    line-height: 24px;
  }
}
